{% extends 'base.html' %}

{% block title %} Acceuil {% endblock %}
    
{% block body %}


<div id="content-wrapper">
	<div class="center-wrapper">
		
		<div class="content">

			<div id="featured-wrapper">
				<div id="featured">

					<div class="left" style="width: 330px">
					
						<h2>Mk<span>Flex</span></h2>

						<p class="large"></p>

						<p>Consectetur adipiscing elit. In nisi. Duis condimentum est nec augue blandit scelerisque. Phasellus varius. Vestibulum in felis in mauris consequat molestie. Sem nec pellentesque condimentum, turpis massa ultricies nisi, at molestie justo eros ac velit.Consectetur adipiscing elit. In nisi. Duis condimentum est nec augue blandit scelerisque. Phasellus varius. Vestibulum in felis in mauris consequat molestie. Sem nec pellentesque condimentum, turpis massa ultricies nisi, at molestie justo eros ac velit.</p>


					</div>

					<div class="right">
						<img src="ex1.jpg" width="321" height="240.75" alt="" />
					</div>

					<div class="clearer">&nbsp;</div>

				</div>
			</div>

			<div id="main">

				<div class="separator-vertical">

					<h2>Images in text</h2>

					<p>Curabitur faucibus risus quis lectus. <a href="#">Donec vehicula</a>. Pellentesque nec, lectus. Nullam dictum sem. Phasellus varius. Vestibulum in felis in mauris consequat molestie</p>

					<img src="logo.jpg" width="100" height="75" alt="" class="alignleft" />

					<p>Consectetur adipiscing elit. In nisi. Duis condimentum est nec augue blandit scelerisque. Phasellus varius. Vestibulum in felis in mauris consequat molestie. Sem nec pellentesque condimentum, turpis massa ultricies nisi, at molestie justo eros ac velit.</p>

					<img src="sample-thumbnail.jpg" width="75" height="75" alt="" class="alignright" />

					<p>Curabitur euismod mi ac neque. Cras vel tortor molestie <a href="#">tortor luctus</a> facilisis. Nulla a nunc. Vivamus est. Integer ac sem quis ipsum dignissim sodales. Nam pulvinar sem eu nibh. Suspendisse non nulla et ligula bibendum facilisis. Suspendisse potenti. Vivamus leo.</p>

					<p>Nulla lacus tortor, ornare vitae, vulputate vitae, sed quis magna. Pellentesque urna urna, bibendum non, ornare in, sollicitudin quis, est.</p>

					<div class="clearer">&nbsp;</div>

					<div class="content_separator"></div>

				</div>

			</div>

		</div>

	</div>
</div>


{% endblock %}


