{% extends 'base.html' %}

{% block title %} Tarif {% endblock %}
    
{% block body %}


<div id="content-wrapper">
	<div class="center-wrapper">
		
		<div class="content">

			<div id="main">

				
					<div class="content_separator"></div>

					<h2>Tarifs</h2>

					<table class="data-table">
						<tr>
							<th>Montage</th>
							<th>Equilibrage</th>
							<th>Réparation</th>
							<th>Déplacement</th>
						</tr>
						<tr class="even">
							<td>10€</td>
							<td>15€</td>
							<td>23€</td>
							<td>37€</td>
						</tr>
						<tr>
							<td>37€</td>
							<td>10€</td>
							<td>15€</td>
							<td>23€</td>
						</tr>
						<tr class="even">
							<td>23€</td>
							<td>37€</td>
							<td>10€</td>
							<td>15€</td>
						</tr>
						<tr>
							<td>15€</td>
							<td>23€</td>
							<td>37€</td>
							<td>10€</td>
						</tr>
					</table>

			</div>

		</div>

	</div>
</div>



{% endblock %}


